.qcm-editor {
  .field {
    margin: 4px;

    > input:not([type='checkbox']):not([type='radio']) {
      padding: 5px;
    }

    > textarea {
      min-height: initial;
    }
  }

  .sesaqcm-question {
    position: relative;
    background-color: #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
  }

  .sesaqcm-reponse {
    position: relative;
    margin: 4px;
    padding: 2px;
    background-color: gray;
    border-radius: 3px;

    .sesaqcm-remove {
      top: 7px;
    }

    .field > input[type='checkbox'] {
      margin-top: 5px;
    }
  }

  .sesaqcm-remove {
    position: absolute;
    cursor: pointer;
    right: 7px;
    top: 2px;
    z-index: 1;
  }

  .sesaqcm-reponse-list .addReponse {
    margin: 4px;
  }

  button.reponses-toggle {
    float:right;
  }

  button.reponses-toggle.selected {
    background-color: #586174;
    color: white;
  }

  .addQuestion {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .alert--danger {
    margin: 5px 4px 4px 4px;
  }
}
