body.qcm-display {
  background-color: linen;

  .qcm-wrapper {
    margin-top: 50px;
    width: 80%;
    border-style: solid;
    border-color: #777;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    .enonce {
      display: flex;
    }

    .questionIndex {
      margin-right: 5px;
    }

    .mathjax-choice {
      display: inline-block;
    }

    .score {
      float: right;
    }

    .pagination {
      text-align: right;
    }

    .choices {
      list-style: none;
      margin-top: 30px;
      margin-bottom: 30px;

      li {
        margin: 10px;

        input[type="checkbox"] {
          top: 2px;
          position: relative;
        }

        label {
          cursor: pointer;
          display: block;
          background-color: lightgrey;
          padding: 10px;
          border-radius: 5px;
          user-select: none;
        }
        label.green-bg {
          background-color: lightgreen;
        }
        label.red-bg {
          background-color: lightcoral;
        }
        label.orange-bg {
          background-color: lightsalmon;
        }
      }
    }
  }
}
